<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="../css/darkly-bootswatch.css">
	<link rel="stylesheet" href="../css/popup.css">
<!-- For Angular -->
    <script src="../js/lib/angular.min.js"></script>
	<script src="../js/lib/angular-ui-router.min.js"></script>
	<script src="../js/app/popup.js"></script>

</head>
<!-- for Angular -->
<body ng-app="myamazonhistory">
	<div class="container">
		<div ui-view></div>
	</div>
</body>
</html>